*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Printvetica';
    src: url(/projekt/fonts/Printvetica.otf);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: rgb(233, 233, 233);
}
nav div ul{
    display: flex;
    justify-content: space-around;
    width: 50vh;
}
nav div ul li a{
    text-decoration: none;
    font-family: 'Printvetica';
    font-size: 22px;
    color: #191919; 
}
nav div ul li{
    list-style: none;
}
.logga{
    width: 15vh;
}
.varukorg{
    width: 10vh;
}
.streck{
    min-width: 40px;
    min-height: 5px;
    background-color: #191919;
    margin: 5px;
    border-radius: 5px;
}
.sko{
    width: 20vw; 
    height: 24vh; 
    object-fit: cover;
    object-position: 25% 60%;
    filter: brightness(104%);
}
.store{
    display: flex;
    justify-content: center;
}
.skor{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.pRubrik{
    font-family: 'Printvetica';
    font-size: 22px;
    color: #191919;
}
.transition{
    height: 20vh;
    background-color: #191919;
    display: flex;
    justify-content: center;
}
.transitionLogga{
    width: 10vw;
    filter: invert();
    align-self: center;
}
.pPris{
    font-family: 'Libre Bodoni';
    color: #727272;
}
button {
    background-color: #e4e4e4;
    border: none;
    color: #FFFFFF;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
@media screen and (max-width: 1007px) {
    nav div ul{
        display: none;
    }
    .länkar{
        display: none;
    }
    .sko{
        width: 30vw;
        height: 24vh; 
        object-fit: cover;
        object-position: 25% 60%;
    }
    .transition{
        height: 15vh;
    }
    
}

@media screen and (min-width: 1008px) {
    .burgerKnapp{
        display: none;
    }
}
@media screen and (max-width: 640px){
    .logga{
        width: 10vh;
    }
    .sko{
        width: 50vw;
        height: 24vh; 
        object-fit: cover;
        object-position: 25% 60%;
    }
    .transition{
        height: 10vh;
    }
}